<div class="text-gray-500">
  <div class="flex flex-row justify-center items-center gap-5">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="120"
      height="120"
      viewBox="0 0 24 24"
      fill="orange"
      stroke="white"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-shopping-bag text-orange-300"
    >
      <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
      <line x1="3" y1="6" x2="21" y2="6"></line>
      <path d="M16 10a4 4 0 0 1-8 0"></path>
    </svg>

    <h1 class="text-[5rem] font-extrabold text-black">Muuster</h1>
  </div>

  <h1 class="text-[#ffa500] text-[2.5rem] py-5 text-center pb-4 leading-loose">
    How do we use your Data?
  </h1>
  <div class="text-left font-small py-1 pt-10">
    Where content is specifically made available for redistribution ,it may only
    be redistributed within your shop
  </div>
  <div class="text-left">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eos corporis
    corrupti officiis, omnis doloribus laudantium qui nemo placeat quia.
    Temporibus nihil eveniet dicta eos. Quasi, reiciendis qui itaque asperiores
    illum quo earum maiores tempora libero error tenetur possimus vero eius,
    magnam quos autem sint rerum perferendis, unde atque repellat neque! Nostrum
    ab voluptatum reiciendis, corrupti magni itaque sapiente dolore quis
    doloremque voluptates, similique et voluptatem, consequatur tempora delectus
    deleniti commodi aliquam modi. Magni reiciendis quaerat quos quam natus
    culpa omnis consequatur beatae sapiente vero dolor explicabo, rem ullam,
    esse expedita quis totam optio ad id debitis voluptates commodi animi
    officiis aspernatur. Inventore ullam deserunt sapiente adipisci illo,
    quibusdam explicabo, quis, ipsam nam odio labore vitae reprehenderit neque
    sit. Ad voluptatibus aliquid quisquam quis.
  </div>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eos corporis
    corrupti officiis, omnis doloribus laudantium qui nemo placeat quia.
    Temporibus nihil eveniet dicta eos. Quasi, reiciendis qui itaque asperiores
    illum quo earum maiores tempora libero error tenetur possimus vero eius,
    magnam quos autem sint rerum perferendis, unde atque repellat neque! Nostrum
    ab voluptatum reiciendis, corrupti magni itaque sapiente dolore quis
    doloremque voluptates, similique et voluptatem, consequatur tempora delectus
    deleniti commodi aliquam modi. Magni reiciendis quaerat quos quam natus
    culpa omnis consequatur beatae sapiente vero dolor explicabo, rem ullam,
    esse expedita quis totam optio ad id debitis voluptates commodi animi
    officiis aspernatur. Inventore ullam deserunt sapiente adipisci illo,
    quibusdam explicabo, quis, ipsam nam odio labore vitae reprehenderit neque
    sit. Ad voluptatibus aliquid quisquam quis.
  </div>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eos corporis
    corrupti officiis, omnis doloribus laudantium qui nemo placeat quia.
    Temporibus nihil eveniet dicta eos. Quasi, reiciendis qui itaque asperiores
    illum quo earum maiores tempora libero error tenetur possimus vero eius,
    magnam quos autem sint rerum perferendis, unde atque repellat neque! Nostrum
    ab voluptatum reiciendis, corrupti magni itaque sapiente dolore quis
    doloremque voluptates, similique et voluptatem, consequatur tempora delectus
    deleniti commodi aliquam modi. Magni reiciendis quaerat quos quam natus
    culpa omnis consequatur beatae sapiente vero dolor explicabo, rem ullam,
    esse expedita quis totam optio ad id debitis voluptates commodi animi
    officiis aspernatur. Inventore ullam deserunt sapiente adipisci illo,
    quibusdam explicabo, quis, ipsam nam odio labore vitae reprehenderit neque
    sit. Ad voluptatibus aliquid quisquam quis.
  </div>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eos corporis
    corrupti officiis, omnis doloribus laudantium qui nemo placeat quia.
    Temporibus nihil eveniet dicta eos. Quasi, reiciendis qui itaque asperiores
    illum quo earum maiores tempora libero error tenetur possimus vero eius,
    magnam quos autem sint rerum perferendis, unde atque repellat neque! Nostrum
    ab voluptatum reiciendis, corrupti magni itaque sapiente dolore quis
    doloremque voluptates, similique et voluptatem, consequatur tempora delectus
    deleniti commodi aliquam modi. Magni reiciendis quaerat quos quam natus
    culpa omnis consequatur beatae sapiente vero dolor explicabo, rem ullam,
    esse expedita quis totam optio ad id debitis voluptates commodi animi
    officiis aspernatur. Inventore ullam deserunt sapiente adipisci illo,
    quibusdam explicabo, quis, ipsam nam odio labore vitae reprehenderit neque
    sit. Ad voluptatibus aliquid quisquam quis.
  </div>
  <h1 class="text-[#ffa500] text-[1.7rem] py-5 text-center">
    Third Party Compliance
  </h1>
  <ul class="list-disc pl-5">
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eos
      corporis corrupti officiis, omnis doloribus laudantium qui nemo placeat
      quia. Temporibus nihil eveniet dicta eos. Quasi, reiciendis qui itaque
      asperiores illum quo earum maiores tempora libero error tenetur possimus
      vero eius, magnam quos autem sint rerum perferendis, unde atque repellat
      neque! Nostrum ab voluptatum reiciendis, corrupti magni itaque sapiente
      dolore quis doloremque voluptates, similique et voluptatem, consequatur
      tempora delectus deleniti commodi aliquam modi. Magni reiciendis quaerat
      quos quam natus culpa omnis consequatur beatae sapiente vero dolor
      explicabo, rem ullam, esse expedita quis totam optio ad id debitis
      voluptates commodi animi officiis aspernatur. Inventore ullam deserunt
      sapiente adipisci illo, quibusdam explicabo, quis, ipsam nam odio labore
      vitae reprehenderit neque sit. Ad voluptatibus aliquid quisquam quis.
    </li>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eos
      corporis corrupti officiis, omnis doloribus laudantium qui nemo placeat
      quia. Temporibus nihil eveniet dicta eos. Quasi, reiciendis qui itaque
      asperiores illum quo earum maiores tempora libero error tenetur possimus
      vero eius, magnam quos autem sint rerum perferendis, unde atque repellat
      neque! Nostrum ab voluptatum reiciendis, corrupti magni itaque sapiente
      dolore quis doloremque voluptates, similique et voluptatem, consequatur
      tempora delectus deleniti commodi aliquam modi. Magni reiciendis quaerat
      quos quam natus culpa omnis consequatur beatae sapiente vero dolor
      explicabo, rem ullam, esse expedita quis totam optio ad id debitis
      voluptates commodi animi officiis aspernatur. Inventore ullam deserunt
      sapiente adipisci illo, quibusdam explicabo, quis, ipsam nam odio labore
      vitae reprehenderit neque sit. Ad voluptatibus aliquid quisquam quis.
    </li>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eos
      corporis corrupti officiis, omnis doloribus laudantium qui nemo placeat
      quia. Temporibus nihil eveniet dicta eos. Quasi, reiciendis qui itaque
      asperiores illum quo earum maiores tempora libero error tenetur possimus
      vero eius, magnam quos autem sint rerum perferendis, unde atque repellat
      neque! Nostrum ab voluptatum reiciendis, corrupti magni itaque sapiente
      dolore quis doloremque voluptates, similique et voluptatem, consequatur
      tempora delectus deleniti commodi aliquam modi. Magni reiciendis quaerat
      quos quam natus culpa omnis consequatur beatae sapiente vero dolor
      explicabo, rem ullam, esse expedita quis totam optio ad id debitis
      voluptates commodi animi officiis aspernatur. Inventore ullam deserunt
      sapiente adipisci illo, quibusdam explicabo, quis, ipsam nam odio labore
      vitae reprehenderit neque sit. Ad voluptatibus aliquid quisquam quis.
    </li>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eos
      corporis corrupti officiis, omnis doloribus laudantium qui nemo placeat
      quia. Temporibus nihil eveniet dicta eos. Quasi, reiciendis qui itaque
      asperiores illum quo earum maiores tempora libero error tenetur possimus
      vero eius, magnam quos autem sint rerum perferendis, unde atque repellat
      neque! Nostrum ab voluptatum reiciendis, corrupti magni itaque sapiente
      dolore quis doloremque voluptates, similique et voluptatem, consequatur
      tempora delectus deleniti commodi aliquam modi. Magni reiciendis quaerat
      quos quam natus culpa omnis consequatur beatae sapiente vero dolor
      explicabo, rem ullam, esse expedita quis totam optio ad id debitis
      voluptates commodi animi officiis aspernatur. Inventore ullam deserunt
      sapiente adipisci illo, quibusdam explicabo, quis, ipsam nam odio labore
      vitae reprehenderit neque sit. Ad voluptatibus aliquid quisquam quis.
    </li>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eos
      corporis corrupti officiis, omnis doloribus laudantium qui nemo placeat
      quia. Temporibus nihil eveniet dicta eos. Quasi, reiciendis qui itaque
      asperiores illum quo earum maiores tempora libero error tenetur possimus
      vero eius, magnam quos autem sint rerum perferendis, unde atque repellat
      neque! Nostrum ab voluptatum reiciendis, corrupti magni itaque sapiente
      dolore quis doloremque voluptates, similique et voluptatem, consequatur
      tempora delectus deleniti commodi aliquam modi. Magni reiciendis quaerat
      quos quam natus culpa omnis consequatur beatae sapiente vero dolor
      explicabo, rem ullam, esse expedita quis totam optio ad id debitis
      voluptates commodi animi officiis aspernatur. Inventore ullam deserunt
      sapiente adipisci illo, quibusdam explicabo, quis, ipsam nam odio labore
      vitae reprehenderit neque sit. Ad voluptatibus aliquid quisquam quis.
    </li>
  </ul>
</div>
